.mynav{ margin:0; padding:0; list-style:none;}
		.mynav ul{}
		.mynav ul li{}
		.mynav li a 
			{
			text-decoration: none;
			display: block;
			background: #666;
			color: #fff;
			margin-bottom: 1px;
			padding: 5px;
			}
.mainnav{padding:0; margin:0; list-style:none;}
.mainnav li{float:left;}
.mainnav li a {
	text-decoration: none;
	background: #ddd;
	padding: 5px;
	margin-right: 5px;
	color: #333;
}
.mainnav li a:hover{background:#333; color:#fff;}
table.mytable{margin:20px 10px 10px 80px; width:900px;}
table.mytable tr td{text-align:center;}
table.mytable tr th{text-align:center; background:#444; color:#fff; padding:5px;}
table.mytable tr:nth-child(2n+1){background:#fff; height:30px;}
table.mytable tr:nth-child(2n){background:#9B999B; height:30px;}

.mynav li a:hover{background: #444;}